* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    border: 1px solid black; /* Add styling as needed */
    border-radius: 5px;
    height: 500px;
    width: 350px;
    justify-content: center;
    align-items: center;
}
.login-items {
    text-align: center;
    margin: auto;
}
